.section__blogin{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--color1);
        z-index: -1;
    }
    .blogin_article{
        @include flex(center, flex-start, center); //(justify-content, align-content, align-items)
        width: 90%;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 5rem;
        .article__info{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-column-gap: 4rem;
            grid-row-gap: 4rem;
            margin-top: 2rem;
            .article__img1a{
                background-image: url(../img/blog1.webp);
                grid-column: span 1;
                grid-row: span 1;  
                width: 100%;
                padding-bottom: 100%;
                margin-right: auto;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.4s ease-out;
                z-index: 1;
            }
            .article__img2a{
                @extend .article__img1a;
                background-image: url(../img/blog2.webp);
            }
            .article__img3a{
                @extend .article__img1a;
                background-image: url(../img/blog3.webp);
            }
            .article__img1a--hero{
                @extend .article__img1a;
                background-image: url(../img/13.webp);
            }
            .article__img2a--hero{
                @extend .article__img1a;
                background-image: url(../img/17.webp);
            }
            .article__img3a--hero{
                @extend .article__img1a;
                background-image: url(../img/2.webp);
            }
            .article__img4a--hero{
                @extend .article__img1a;
                background-image: url(../img/history.webp);
            }
            .article__img5a--hero{
                @extend .article__img1a;
                background-image: url(../img/MichaelSmith.webp);
            }
            .article__img6a--hero{
                @extend .article__img1a;
                background-image: url(../img/SophiaMeren.webp);
            }
            .article__content1{
                grid-column: span 1;
                grid-row: span 1;   
                background-color: var(--level1);
                padding: 2rem;
                .content__subtitle{
                    font-size: $XSfontSize2;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: var(--font1);
                }
                .content__text{
                    font-size: $XSfontSize3;
                    color: var(--font-color2);
                }   
            }
            .article__img1b{
                grid-column: span 1;
                grid-row: span 1;   
                background-image: url(../img/17.webp);
                width: 100%;
                padding-bottom: 70%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.4s ease-out;
                z-index: 1;
                background-color: var(--color1);
            }
            .article__img3b{
                @extend .article__img1b;
                background-image: url(../img/portfolio5.webp);
            }
            .article__content2{
                grid-column: span 1;
                grid-row: span 1;   
                background-color: var(--color1);
                padding: 4rem 2rem 2rem 0;
                transform: translateY(-4rem);
                .content__subtitle{
                    font-size: $XSfontSize2;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: var(--font1);
                }
                .content__text{
                    font-size: $XSfontSize3;
                    color: var(--font-color2);
                }
                
            }
            .article__social{
                @include flexJustify(flex-start); //(justify-content)
                transform: translateX(0);
                opacity: 1;
                margin:3rem 0;
                .social__icon{
                    @include flex(center, center, center); //(justify-content, align-content, align-items)
                    background-color: var(--color2);
                    min-width: 3rem;
                    min-height: 3rem;
                    margin: 0 1.5rem 0 0;
                    &:hover{
                        background-color: var(--font1);
                        i{
                            color: var(--bg-color);
            
                        }
                    }
                    i{
                        font-family: "Font Awesome 5 Brands";
                        font-size: 1.6rem;
                        color: black;  
                    }
                }
            }
        }
    } 
    .blogin__back__btn{
        display: inline-block;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        background-color: var(--color2);
        margin-bottom: 5rem;
    }
    .controls{
        @include flex(center, flex-start, center); //(justify-content, align-content, align-items)
        padding-bottom: 6rem;
        .back__btn{
                background-color: var(--color2);
            }  
        .arrow{
            margin: 0 2rem;
        }
    }  
}
.gracias{
    @include flex(space-between, center, center); //(justify-content, align-content, align-items)
    flex-direction: column;
    height: 100vh;
    .gracias__in{
        height: 100%;
        width: 100%;
        .gracias__in2{
            height: 100%;
            width: 100%;
            .blogin_article{
                width: 100%;
            }
        }
    
    }
    
}
.section__contact{
    position: relative;
    background-color: var(--color1);
    .suscribe__title{
        color: white;
    }
    .suscribe__subtitle{
        color: white;
    }
}
/* 1200px and up */
@media (min-width: 1200px) {
    .section__blogin{
        &::before {
        }
        .blogin_article{
            width: 70%;
            .article__info{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto;
                margin-top: 5rem;
                .article__img1a{
                    grid-column: span 1;
                    grid-row: span 2;    
                    background-position: center;
                }
                .article__img2a{
                    grid-column: span 1;
                    grid-row: span 2;    
                    background-position: center;
                }
                .article__img3a{
                    grid-column: span 1;
                    grid-row: span 2;    
                    background-position: center;
                }
                .article__content1{
                    grid-column: span 2;
                    grid-row: span 1;   
                    .content__subtitle{
                        font-size: $XLfontSize2;
                    }
                    .content__text{
                        font-size: $XLfontSize3;
                    }
                    
                }
                .article__img1b{
                    grid-column: span 2;
                    grid-row: span 1;       
                    padding-bottom: 30%;
                    background-position: top 20% left;
                }
                .article__img2b{
                    grid-column: span 2;
                    grid-row: span 1;       
                    padding-bottom: 30%;
                    background-position: top 20% left;
                }
                .article__img3b{
                    grid-column: span 2;
                    grid-row: span 1;       
                    padding-bottom: 30%;
                    background-position: top 20% left;
                }
                .article__content2{
                    grid-column: span 3;
                    grid-row: span 1;
                    padding: 4rem 2rem 2rem 0;
                    .content__subtitle{
                        font-size: $XLfontSize2;
                    }
                    .content__text{
                        font-size: $XLfontSize3;
                    }
                    
                }
                
            }
        }   
    }
    .section__contact{
        position: relative;
        background-color: var(--color1);
        .suscribe__title{
            color: white;
        }
        .suscribe__subtitle{
            color: white;
        }
    }
}



