/* 768px and up */
@media (min-width: 768px) {
	/*---HERO---*/
	.section__hero{
		.hero__slide{
			.slide__info{
				.info__header{
					.header__title{
						.title__text{
							font-size: calc(calc(3.5rem + 1vw));
						}
						.title__text--shadow {
							font-size: calc(calc(3.5rem + 1vw) * 2.1);
						}
					}
				}
				.info__content {
					.content__text {
						.text {
							font-size: calc(#{$XLfontSize3} * 1.4);
						}
					}
				}
			}
			.slide__text--vertical{
				margin: 30% 1.5% 0 0;
			}
		}
	}
	/*---ABOUT---*/
	.section__about{
		&::before {
			width: 50%;
		}
		.container__title{
			background-color: transparent;
		}
		.content{
			.about{
				$line-height: calc(6rem + 1vw);
				width: 90%;
				grid-template-columns: calc(45% - (#{$line-height}/2)) auto calc(55% - (#{$line-height}/2));//Se calcula con el line height de .about__to-works
				margin: 4rem 0;
				.about__intro{
					@include flex(flex-end, flex-start, flex-start); //(justify-content, align-content, align-items)
					margin-bottom: $line-height/2;
					padding: 0 5% 0 0;
					.intro__text{
						font-size: $XLfontSize1;
						text-align: right;
						margin-bottom: 4rem;
						padding: 0;
						background-color: transparent;
					}
					.button{
						transform: translateY(0)
					}
				}
				.about__to-works{
					position: relative;
					font-size: calc(#{$XLfontSize3} / 1.5);
					line-height: $line-height;
					left: 10%;
					opacity: 0.5;
				}
				.about__team{
					.team__member{
						@include flex(flex-start, flex-start, flex-start); //(justify-content, align-content, align-items)
						flex-direction: row;
						margin-bottom: 5rem;
						.member__img{
							min-height: calc(10rem + 4vw);
							min-width: calc(10rem + 4vw);
						}
						.member_info{
							margin-left: calc(1.5rem + 1vw);
							text-align: left;
							margin-top: 0;
	
							.info__name{
								text-align: left;
								font-size: $XLfontSize2;
							}
							.info__resume{
								padding: 0;
								text-align: left;
								font-size: calc(#{$XLfontSize3} * 1.4);
							}
							.info__social{
								justify-content: flex-start;
								transform: translateX(-16rem);
								opacity: 0;
								margin-bottom: 0;
								.social__icon{
									margin: 0 1.5rem 0 0;		
								}
							}
						}
					}
				}
			}
		}
		
	}
	/*---PORTFOLIO---*/
	.section__portfolio{
		
		.portfolio{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			width: 90%;
			.work1{
				grid-column: span 2;
				grid-row: span 1;
			}
			.work2{
				grid-column: span 1;
				grid-row: span 2;
			}
			.work3{
				grid-column: span 1;
				grid-row: span 1;
			}
			.work4{
				grid-column: span 1;
				grid-row: span 1;
			}
			.work5{
				grid-column: span 2;
				grid-row: span 1;
			}
			.work6{
				grid-column: span 1;
				grid-row: span 1;
			}
		}
		
	}
	/*---BLOG---*/
	.section__blog{
		&:before{
			width: 100%;
			height: 60%;
		}
		.blog{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			margin: 4rem auto;
			grid-gap: 5%;
			width: 90%;
			.blog__publication{
				&:hover .publication__info{
					transform: translate(10%, -50%);
				}
				.publication__img{
					width: 70%;
					.publication__date{
						font-size: calc(#{$XLfontSize3} / 1.3);
						padding-left: 1rem;
					}
					.blog__btn{
						i{	
							font-size: calc(0.3rem + 0.3vw);			
						}
					}
				}
				.publication__info{
					justify-content: flex-start;
					.publication__info__title{
						font-size: calc(#{$XLfontSize2} / 1.2);
						margin: 0 0 0 1rem;
						padding: 1rem 1rem;
					}
					.publication__text{
						width: 90%;
						.publication__info__text{
							font-size: calc(#{$XLfontSize3} * 1.4);
							text-align: left;
						}
						.publication__comments{
							left: 100%;
						}
					}
				}
			}
			.blog__button{
				grid-column: span 1;
				margin: 0 0 7rem auto;
				width: 95%;
				height: 81%;
				&:hover{
					transform: scale(1.1);
				}
			}
		}
	}
	
}
/* 1200px and up */
@media (min-width: 1200px) {
	/* NAVBAR*/
	.header{
		height: auto;
		width: 70%;
		.logo{
			font-size: $XLfontSize3;
		}
		li {
			float: left;
			a {
				padding: 2rem 2rem;
				font-size: $XLfontSize3;
			}
		}
		.menu {
			flex-direction: row;
			align-items: center;
			clear: none;
			float: right;
			max-height: none;
			position: relative;
			margin-top: 0;
		}
		.menu-icon {
			display: none;
		}
	}
	/*---GENERAL---*/
	.container__title{
		.title__text--shadow {
			font-size: 13rem;
		}
		.title__text{
			top: 6rem;
			font-size: 6.2rem;
			transform: translateY(1.5rem);
		}
	} 
	.button{
		padding: 1.5rem 9rem;
		border: 0.6rem solid var(--color2);
		font-size: $XLfontSize3;
		background-color: transparent;
		&:hover{
			background-color: var(--color2);
		}
	}
    .button--transparent:hover {
        background-color: var(--color2);
    }
	.arrow{
		i{
			font-size: calc(0.6rem + 0.6vw);
		}
	}
	/*---hero---*/
	.section__hero{
		&::after{
			width: 50%;
			left: 0;
		}
		.hero__backImg{
			width: 50%;
			left: 0;
		}
		.hero__slide{
			justify-content: flex-end;
			width: 85%;
			.slide__text--vertical{
				font-size: calc(#{$XLfontSize3} / 1.5);
				margin: 3% 1.5%;
				top: 0;
				left: 0;
				transform: rotate( -180deg);
			}
			.number{
				left: 50%;
			}
			.slide__info{
				width: 70%;
				align-content: center;
				.info__header{
					width: 100%;
					.header__title{
						.title__text{
							font-size: calc(#{$XLfontSize1} * 1.7);
							transform: translateY(1.5vw);
						}
						.title__text--shadow{
							font-size: calc(#{$XLfontSize1} * 3.8);
						}
					}
					.header__subtitle {
						font-size: $XLfontSize2;
						padding-left: 3rem;
						margin: 0 0 4rem 0;
						width: 80%;
						justify-content: left;
					}
				}
				.info__content{
					.content__tags{
						justify-content: flex-start;
						.tag{
							word-spacing: 2rem;
							letter-spacing: 0.8rem;
							font-size: calc(#{$XLfontSize3} / 1.3);
							padding-left: 3rem;
							margin: 0 0 1rem 0;
							justify-content: left;
						}
					}
					.content__text {
						width: 80%;
						.text{
							padding: 2rem 5rem 2rem 3rem;
							text-align: left;
							font-size: $XLfontSize3;
						}
					}
					.content__nav {
						width: 100%;
						margin-left: 0;
						.nav__slash {
							width: 2em;
							height: 0.5em;
						}
					}
					.button{
						margin: 7.5% 0 0 0;
						transform: translateX(0);
					}
				}
				
			}
		}
		.text-bg{
			@include flexJustify(center); //(justify-content)
			position: absolute;
			height: 100%;
			width: auto;
			left: 4%;
			font-size: 25vh;
			line-height: 100%;
			font-weight: 900;
			letter-spacing: 0.3rem;
			color: $black025;
			text-decoration: none;
			text-transform: uppercase;
			writing-mode: vertical-lr;
			transform: rotate(-180deg);
			z-index: 10;
			&:hover{
				color: var(--color2);
				text-decoration: none;
			}
			&:hover ~ .line{
				background-color: var(--color1);
			}
		}
		.line{
			position: absolute;
			height: 100%;
			width: 4%;
			z-index: 5;
			left: 0;
			background-color: $black025;
		}
	}
	/*---ABOUT---*/
	.section__about{
		&::before {
			width: 50%;
		}
		.container__title{
			background-color: transparent;
		}
		.content{
			.about{
				$line-height: calc(6rem + 1vw);
				width: 70%;
				grid-template-columns: calc(45% - (#{$line-height}/2)) auto calc(55% - (#{$line-height}/2));//Se calcula con el line height de .about__to-works
				margin: 4rem 0;
				.about__intro{
					@include flex(flex-end, flex-start, flex-start); //(justify-content, align-content, align-items)
					margin-bottom: $line-height/2;
					padding: 0 5% 0 0;
					.intro__text{
						font-size: $XLfontSize1;
						text-align: right;
						margin-bottom: 4rem;
						padding: 0;
						background-color: transparent;
					}
					.button{
						transform: translateY(0)
					}
				}
				.about__to-works{
					position: relative;
					font-size: calc(#{$XLfontSize3} / 1.5);
					line-height: $line-height;
					left: 10%;
					opacity: 0.5;
				}
				.about__team{
					.team__member{
						@include flex(flex-start, flex-start, flex-start); //(justify-content, align-content, align-items)
						flex-direction: row;
						margin-bottom: 5rem;
						.member__img{
							min-height: calc(10rem + 4vw);
							min-width: calc(10rem + 4vw);
						}
						.member_info{
							margin-left: calc(1.5rem + 1vw);
							text-align: left;
							margin-top: 0;
	
							.info__name{
								text-align: left;
								font-size: $XLfontSize2;
							}
							.info__resume{
								padding: 0;
								text-align: left;
								font-size: calc(#{$XLfontSize3});
							}
							.info__social{
								justify-content: flex-start;
								transform: translateX(-16rem);
								opacity: 0;
								margin-bottom: 0;
								.social__icon{
									margin: 0 1.5rem 0 0;		
								}
							}
						}
					}
				}
			}
		}
		
	}
	/*---PORTFOLIO---*/
	.section__portfolio{
		.portfolio {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			padding: 2.3rem 0 10rem;
			width: 70%;
			.work1{
				grid-column: span 2;
				grid-row: span 1;
			}
			.work2{
				grid-column: span 1;
				grid-row: span 2;
			}
			.work3{
				grid-column: span 1;
				grid-row: span 2;
			}
			.work4{
				grid-column: span 1;
				grid-row: span 1;
			}
			.work5{
				grid-column: span 2;
				grid-row: span 1;
			}
			.work6{
				grid-column: span 2;
				grid-row: span 1;
			}
			.work7{
				grid-column: span 1;
				grid-row: span 1;
			}
			.work8{
				grid-column: span 1;
				grid-row: span 1;
			}
			.work9{
				grid-column: span 2;
				grid-row: span 1;
			}
		}
		.work__btn{
			i{
				font-size: calc(0.3rem + 0.3vw);
			}
		}
	}
	/*---BLOG---*/
	.section__blog{
		.blog{
			grid-template-columns: 1fr 1fr 1fr;
			width: 70%;
			
			.blog__publication{
				.publication__img{
					.publication__date{
						font-size: calc(#{$XLfontSize3} / 1.8);
					}
				}
				.publication__info{
					
					.publication__info__title{
						font-size: calc(#{$XLfontSize2}/ 1.5);
						
					}
					.publication__text{
						
						.publication__info__text{
							font-size: calc(#{$XLfontSize3}*0.9);

						}
						.publication__comments{
							
						}
					}
				}
			}
			.blog__button{
				grid-column: 2 / span 1;
				background-color: transparent;
				width: auto;
    			height: auto;
				margin: 0 auto 7rem;
				&:hover{
					background-color: var(--color2);
				}
			}
		}
	}
	/*---CONTACT---*/
	.section__contact{
		
		.suscribe__title{
			font-size: calc(1.3rem + 1vw);
		}
		.suscribe__subtitle{
			font-size: calc(0.6rem + 0.6vw);
		}
		.suscribe__email{
			width: 30%;
			.email__box__input{
				font-size: calc(0.5rem + 0.5vw);
				line-height: 6rem;
			}
			.email__box__button{
				i{
					@include flex(center, center, center);
					height: 4rem;
					width: 4rem;
					font-size: 2rem;
				}
			}
		}
	}
	/*---FOOTER---*/
	.footer{
		padding: 10rem 15% 5rem 15%;
		.footer__copyright{
			font-size: calc(0.5rem + 0.4vw);
			letter-spacing: 0.4rem;
			width: 50%;
		}
		.footer__social{
			width: 50%;
			.social{
				.social__icon{
					text-align: right;
					font-size: 2.5rem;
					margin: 0 0 0 3rem;
				}
			}
		}
	}
}