/*---SERVICES---*/
.services-container span i {
    font-size: 5rem;
    background-color:$color1;
    padding: 4rem;
    border-radius: 50%;
}
.service-info{
	margin: 5rem 0;
}
/*---END SERVICES---*/