// COLORS
$color1: #5ec8cc;
$color2: #c6f327;
$black025: rgba(0, 0, 0, 0.25);
$black050: rgba(0, 0, 0, 0.5);
$black010: rgba(0, 0, 0, 0.1);

// FONTS SIZES
//XS
$XSfontSize1: calc(3.5rem + 1vw);
$XSfontSize2: calc(2.0rem + 1vw);
$XSfontSize3: calc(1rem + 1vw);
//XL
$XLfontSize1: calc(2.5rem + 1vw);
$XLfontSize2: calc(1.5rem + 1vw);
$XLfontSize3: calc(0.6rem + 0.6vw);

// MIXINS
@mixin flex($justify-content, $align-content, $align-items){
	display: flex;
	justify-content: $justify-content;
    align-content: $align-content;
	align-items: $align-items;
}
@mixin flexJustify($justify-content){
	display: flex;
	justify-content: $justify-content;
}

